
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="战国军事网,国际军事,中国军事,军事视角,图说军事,社会趣闻,美女爱秀" />
<meta name="description" content="评论" />    
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Cache-Control" content="no-cache"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0"/>
        <title>战国军事网</title>
        <link rel="stylesheet" href="/s/css/style.css" type="text/css" />
</head>
    <body>
<div class="main">
            <div>
    </div>
<div class="loginline">
    <a href="/" style="font-weight:bold;float:left;">导航</a>
</div>

<div class="logoline">
    <div style="float:left;">
        <a href="index.html"><img src="/s/img/wapLogo.png" alt="logo" style="width:100%;"/></a>
    </div>
</div> 
<div style="clear:both;">
</div>
<!--
            导航条
            -->
            <div class="nav">
                <a href="/">战国军事网</a>&gt;
                <a href="pd?id=$!{pindao.id}">$!{pindao.name}</a>&gt;
                <a href="lm?id=$!{lanmu.id}">$!{lanmu.name}</a>
            </div>
            <!--
            栏目页-新闻列表
            --> 
            <div class="block">
                #foreach($comment in $comments)
                        <p><a href="replypage?rid=$!{comment.id}&nid=$!{news.id}">[回复]</a>
                        $!{comment.floor}楼 : #if($comment.auditStatus == 0)$!{comment.content}#else该楼已删除#end
                        #set($millsecond = $comment.createTime * 1000)
                        #set($s = $date.format("MM-dd HH:mm",$millsecond))[$!{s} ] 
                            $!{$comment.device}</p>
                        #foreach($refid in $refIds[$foreach.index])
                            #set($cc = $refComments[$refid])
                            <div style="border:1px solid #AEAEF3;background:#eee;margin:5px;" ><p>$!{cc.floor} 楼: #if($cc.auditStatus == 0)$!{cc.content}#else该楼已删除#end</p> 
                        #end
                        #foreach($refid in $refIds[$foreach.index])</div>#end
                #end
            </div>
            <div>
                <form method="get">
                    <input type="hidden" name="nid" value="$!{news.id}"/>
                    <p>第 <span class="page_font_color">$!{page}</span>/$!{total} 页 共 <span class="page_font_color">$!{count}</span> 条记录 
                        #set($v = $page - 1)
                        #if($page > 1)<a href="comments?nid=$!{news.id}&page=$!{v}"> 上一页 </a>#end 
                        #foreach($p in [1..$total])
                            #if($p != $page)<a href="comments?nid=$!{news.id}&page=$!{p}">$!{p}.</a> #else <span class="cpage">$p</span>#end#end
                        #set($v = $page + 1)
                        #if($page < $total) <a class="page" href="comments?nid=$!{news.id}&page=$!{v}">下一页</a>#end
                                                                        跳转到 <input name="page" type="text" class="page_input" size="3" /> 页<input  type="submit" value="GO" class="page_go"/></p></form></div>
            <div class="search">
                <form action="/comment/submit" method="post">
                    <p>
                    <input type="hidden" name="nid" value="$!{news.id}"/>
                    <input type="text" name="content" value="" class="searchKey"/>
                    <input type="submit" value="发言(70字)" class="searchBtn"/>
                    </p>
                </form>
            </div>
            <div style="clear:both;">
                <p>
                    <a href="view?id=$!{news.id}"> &lt;&lt;返回上级</a>
                </p>
            </div>
            <!--
热点版块直达
-->
<div class="nav">
    #parse("frag/menu.vm")
</div>
#parse("frag/foot.vm")
</div>
    </body>
</html>
