#define( $link )
    #if($blk.type == 0)
        <a #if($blk.isBold == true) style="font-weight:bold;"#end href="${blk.url}">${blk.title}</a>
    #elseif($blk.type == 1)
        <a href="${blk.url}"><img src="${blk.img}"/></a>
    #elseif($blk.type == 2)
        <a #if($blk.isBold == true) style="font-weight:bold;"#end href="view?id=${blk.newsId}">${blk.title}</a>
    #elseif($blk.type == 3)
        <a href="view?id=${blk.newsId}"><img src="${blk.img}"/></a>
    #elseif($blk.type == 4)
        ${blk.html}
    #end
#end
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="keywords" content="战国军事网,国际军事,中国军事,军事视角,图说军事,社会趣闻,美女爱秀" />
        <meta name="description" content="战国军事网主页" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0" />
        <title>战国军事网</title>
        <link rel="stylesheet" href="/s/css/style.css" type="text/css" />
</head>
<body>
    <div class="main">
        <div>
        </div>
        <div class="loginline">
            <a href="nav.html" style="font-weight:bold;float:left;">导航</a>
        </div>
        <div class="logoline">
            <div style="float:left;">
                <a href="">
                    <img src="/s/img/wapLogo.png" alt="logo" style="width:100%;"/>
                </a>
            </div>
        </div>
        <div style="clear:both;">
        </div>
<div><!--
    顶部栏目导航
    -->
    <div class="nav">
        #parse("frag/menu.vm")
            </div>
</div>
<div class="block">
	#foreach( $blk in $blocks[1])
		<p>
			$link
		</p>
	#end
</div>
        <div>
            <p class="index-line">
                <img alt="" src="/s/img/r.png" />
                <a href="pd?id=1">国际军事</a>
                | <a href="lm?id=1">军情</a>
                | <a href="lm?id=2">观察</a>
            </p>
        </div>
<div class="block">
    #foreach( $blk in $blocks[2])
<p>
	$link
</p>
	#end
</div>
        <div>
            <p class="index-line">
                <img alt="" src="/s/img/r.png" />
                <a href="pd?id=2">中国军事</a>
                | <a href="lm?id=4">国防</a>
                | <a href="lm?id=5">海峡</a>
            </p>
        </div>
<div class="block">
   #foreach( $blk in $blocks[3])
    <p>
    	$link
    </p>
   #end
</div>
<div>
    <p class="index-line">
        <img alt="" src="/s/img/r.png" />
        <a href="pd?id=3">军事视角</a>
        | <a href="lm?id=7">评论</a>
        | <a href="lm?id=8">观察</a>
    </p>
</div>
<div class="block">
 #foreach( $blk in $blocks[4])
<p>
    	$link
</p>
#end
</div>
        <div>
            <p class="index-line">
                <img alt="" src="/s/img/r.png" />
                <a href="pd?id=4">图说军事</a>
                | <a href="lm?id=9">军械</a>
                | <a href="lm?id=10">舰船</a>
            </p>
        </div>
<div class="block">
 #foreach( $blk in $blocks[5])
<p>
    	$link
</p>
#end
</div>
        <div>
            <p class="index-line">
                <img alt="" src="/s/img/r.png" />
                <a href="pd?id=5">社会</a>
                | <a href="lm?id=12">五花八门</a>
                | <a href="lm?id=13">猎奇</a>
            </p>
        </div>
<div class="block">
 #foreach( $blk in $blocks[6])
<p>
    	$link
</p>
#end
</div>
        <div>
            <p class="index-line">
                <img alt="" src="/s/img/r.png" />
                <a href="pd?id=6">美女</a>
                | <a href="lm?id=15">贴图</a>
                | <a href="lm?id=16">爱秀</a>
            </p>
        </div>
<div class="block">
 #foreach( $blk in $blocks[7])
<p>
    	$link
</p>
#end
</div>
        <div>
            <div class="nav">
#parse("frag/menu.vm")
            </div>
#include( "frag/foot.htm" )         
        </div>
    </div>
</body>
</html>
