<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="keywords" content="环球新闻网,新闻，环球，军事，新闻网，环球网，环球时报，娱乐，国内新闻，图片新闻网" />
        <meta name="description" content="手机环球网主页" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Cache-Control" content="no-cache" />
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=2.0" />
        <title>手机环球网</title>
        <link rel="stylesheet" href="/s/css/style.css" type="text/css" />
</head>
<body>
    <div class="main">
        <div>
        </div>
        <div class="loginline">
            <a href="nav.html" style="font-weight:bold;float:left;">导航</a>
        </div>
        <div class="logoline">
            <div style="float:left;">
                <a href="">
                    <img src="/s/img/wapLogo.png" alt="logo" style="width:100%;"/>
                </a>
            </div>
        </div>
        <div style="clear:both;">
        </div>
<div><!--
    顶部栏目导航
    -->
    <div class="nav">
#foreach ($pd in $pdmap.keySet())
    <a href="pd?id=${pd.id}">${pd.name}</a>
#if($foreach.count % 5 == 0) <br /> #end
#end
            </div>
</div>
<div class="block">
	#foreach( $blk in $blocks[1])
		<p>
			#if($blk.type == 0)
				<a #if($blk.isBold == true) style="font-weight:bold;"#end href="${blk.url}">${blk.title}</a>
			#elseif($blk.type == 1)
				<a href="${blk.url}"><img src="${blk.img}"/></a>
			#elseif($blk.type == 2)
                <a #if($blk.isBold == true) style="font-weight:bold;"#end href="view?id=${blk.newId}">${blk.title}</a>
			#elseif($blk.type == 3)
                <a href="view?id=${blk.newId}"><img src="${blk.img}"/></a>
			#elseif($blk.type == 4)
                ${blk.html}
			#end
		</p>
	#end
</div>
        <div>
            <p class="index-line">
                <img alt="" src="/s/img/r.png" />
                <a href="pd.html?id=31">国际</a>
                | <a href="lm.html?id=33">独家</a>
                | <a href="lm.html?id=35">海外看中国</a>
            </p>
        </div>
<div class="block">
    #foreach( $blk in $blocks[2])
<p>
	#if($blk.type == 0)
		<a #if($blk.isBold == true) style="font-weight:bold;"#end href="${blk.url}">${blk.title}</a>
	#elseif($blk.type == 1)
		<a href="${blk.url}"><img src="${blk.img}"/></a>
	#elseif($blk.type == 2)
        <a #if($blk.isBold == true) style="font-weight:bold;"#end href="view?id=${blk.newId}">${blk.title}</a>
	#elseif($blk.type == 3)
        <a href="view?id=${blk.newId}"><img src="${blk.img}"/></a>
	#elseif($blk.type == 4)
        ${blk.html}
	#end
</p>
	#end
</div>
        <div>
            <p class="index-line">
                <img alt="" src="/s/img/r.png" />
                &nbsp;<a href="pd.html?id=36">国内</a>
                | <a href="pd.html?id=15">台海</a>
                | <a href="pd.html?id=16">评论</a>
            </p>
        </div>
<div class="block">
   #foreach( $blk in $blocks[3])
    <p>
    	#if($blk.type == 0)
    		<a #if($blk.isBold == true) style="font-weight:bold;"#end href="${blk.url}">${blk.title}</a>
    	#elseif($blk.type == 1)
    		<a href="${blk.url}"><img src="${blk.img}"/></a>
    	#elseif($blk.type == 2)
            <a #if($blk.isBold == true) style="font-weight:bold;"#end href="view?id=${blk.newId}">${blk.title}</a>
    	#elseif($blk.type == 3)
            <a href="view?id=${blk.newId}"><img src="${blk.img}"/></a>
    	#elseif($blk.type == 4)
            ${blk.html}
    	#end
    </p>
   #end
</div>
<div>
    <p class="index-line">
        <img alt="" src="/s/img/r.png" />
        <a href="pd.html?id=17">财经</a>
        | <a href="pd.html?id=28">科技</a>
        | <a href="zt.html?">专题</a>
    </p>
</div>
<div class="block">
 #foreach( $blk in $blocks[4])
<p>
    	#if($blk.type == 0)
    		<a #if($blk.isBold == true) style="font-weight:bold;"#end href="${blk.url}">${blk.title}</a>
    	#elseif($blk.type == 1)
    		<a href="${blk.url}"><img src="${blk.img}"/></a>
    	#elseif($blk.type == 2)
            <a #if($blk.isBold == true) style="font-weight:bold;"#end href="view?id=${blk.newId}">${blk.title}</a>
    	#elseif($blk.type == 3)
            <a href="view?id=${blk.newId}"><img src="${blk.img}"/></a>
    	#elseif($blk.type == 4)
            ${blk.html}
    	#end
</p>
#end
</div>
        <div>
            <p class="index-line">
                <img alt="" src="/s/img/r.png" />
                &nbsp;<a href="pd.html?id=23">军事</a>
                | <a href="lm.html?id=90">军评</a>
                | <a href="lm.html?id=43">图说</a>
            </p>
        </div>
<div class="block">
 #foreach( $blk in $blocks[5])
<p>
    	#if($blk.type == 0)
    		<a #if($blk.isBold == true) style="font-weight:bold;"#end href="${blk.url}">${blk.title}</a>
    	#elseif($blk.type == 1)
    		<a href="${blk.url}"><img src="${blk.img}"/></a>
    	#elseif($blk.type == 2)
            <a #if($blk.isBold == true) style="font-weight:bold;"#end href="view?id=${blk.newId}">${blk.title}</a>
    	#elseif($blk.type == 3)
            <a href="view?id=${blk.newId}"><img src="${blk.img}"/></a>
    	#elseif($blk.type == 4)
            ${blk.html}
    	#end
</p>
#end
</div>
        <div>
            <p class="index-line">
                <img alt="" src="/s/img/r.png" />
                <a href="pd.html?id=109">博览</a>
                | <a href="lm.html?id=114">给跪</a>
                | <a href="pd.html?id=60">图片</a>
            </p>
        </div>
<div class="block">
 #foreach( $blk in $blocks[6])
<p>
    	#if($blk.type == 0)
    		<a #if($blk.isBold == true) style="font-weight:bold;"#end href="${blk.url}">${blk.title}</a>
    	#elseif($blk.type == 1)
    		<a href="${blk.url}"><img src="${blk.img}"/></a>
    	#elseif($blk.type == 2)
            <a #if($blk.isBold == true) style="font-weight:bold;"#end href="view?id=${blk.newId}">${blk.title}</a>
    	#elseif($blk.type == 3)
            <a href="view?id=${blk.newId}"><img src="${blk.img}"/></a>
    	#elseif($blk.type == 4)
            ${blk.html}
    	#end
</p>
#end
</div>
        <div>
            <p class="index-line">
                <img alt="" src="/s/img/r.png" />
                &nbsp;<a href="pd.html?id=64">健康</a>
                | <a href="pd.html?id=94">旅游</a>
                | <a href="lm.html?id=95">环游地球</a>
            </p>
        </div>
<div class="block">
 #foreach( $blk in $blocks[7])
<p>
    	#if($blk.type == 0)
    		<a #if($blk.isBold == true) style="font-weight:bold;"#end href="${blk.url}">${blk.title}</a>
    	#elseif($blk.type == 1)
    		<a href="${blk.url}"><img src="${blk.img}"/></a>
    	#elseif($blk.type == 2)
            <a #if($blk.isBold == true) style="font-weight:bold;"#end href="view?id=${blk.newId}">${blk.title}</a>
    	#elseif($blk.type == 3)
            <a href="view?id=${blk.newId}"><img src="${blk.img}"/></a>
    	#elseif($blk.type == 4)
            ${blk.html}
    	#end
</p>
#end
</div>
        <div>
            <p class="index-line">
                <img alt="" src="/s/img/r.png" />
                &nbsp;<a href="pd.html?id=55">娱乐</a>
                | <a href="lm.html?id=57">影视</a>
                | <a href="pd.html?id=86">体育</a>
            </p>
        </div>
<div class="block">
 #foreach( $blk in $blocks[8])
<p>
    	#if($blk.type == 0)
    		<a #if($blk.isBold == true) style="font-weight:bold;"#end href="${blk.url}">${blk.title}</a>
    	#elseif($blk.type == 1)
    		<a href="${blk.url}"><img src="${blk.img}"/></a>
    	#elseif($blk.type == 2)
            <a #if($blk.isBold == true) style="font-weight:bold;"#end href="view?id=${blk.newId}">${blk.title}</a>
    	#elseif($blk.type == 3)
            <a href="view?id=${blk.newId}"><img src="${blk.img}"/></a>
    	#elseif($blk.type == 4)
            ${blk.html}
    	#end
</p>
#end
</div>
        <div>
            <div class="nav">
#foreach ($pd in $pdmap.keySet())
    <a href="pd?id=${pd.id}">${pd.name}</a>
#if($foreach.count % 5 == 0) <br /> #end
#end
            </div>
            <div class="foot">
                <p>
                    <a href="partner.html">合作</a>
                    |<a href="friendslink.html">友链</a>
                    |<a href="feedback.html">留言</a>
                </p>
                <p>
                    <a href="index.html">首页</a>
                    |<a href="nav.html">导航</a>
                    |<a href="save.html">收藏</a>
                </p>
                <p>
                    <a href="http://wap.huanqiu.com/?v=1&amp;a=1">简版</a>
                    | <a href="http://wap.huanqiu.com/?v=3&amp;a=1">3G版</a>
                    | <a href="http://www.huanqiu.com">PC版</a>
                    |
                    <a href="http://mt.huanqiu.com">触屏版</a>
                </p>
                <p>
                    手机环球网</p>
                    <p style="text-align: center">
                        环球网版权所有</p>
                        <p>
                            [2013-08-10 18:46:16]</p>
                            <p>
                                <a class="gotop" href="#">
                                    <span>&uarr;</span>
                                    TOP</a>
                            </p>
                            <br />
                            &nbsp;</div>
        </div>
    </div>
</body>
</html>
