<!DOCTYPE html>
<html>
<link href="/s/css/font-awesome.css" rel="stylesheet">
    #include( "model_header.vm" )
<style type="text/css">
#editor {
    height: 250px;
    width: 700px;
    background-color: white;
    border-collapse: separate; 
    border: 1px solid rgb(204, 204, 204); 
    padding: 4px; 
    box-sizing: content-box; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border-top-right-radius: 3px; border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; border-top-left-radius: 3px;
    overflow: scroll;
    outline: none;
}
</style>
<body>
    <div class="container-fluid">
		#set( $page = 2 )
        #parse( "model_head.vm" )
		#if($info)
            <div class="alert alert-success">${info}</div>
		#end
        <div class="row-fluid">
            <div class="span12">
                <form method="POST">
                    <fieldset>
                         <legend>莫犹豫</legend>
                            <label></label>
                            <button id="inv" class="btn btn-large btn-danger" type="button">选择你的女神</button>
                            <label></label>
                            <button id="switch" class="btn btn-link" type="button">写封信吧</button>
                            <label></label>
                            <textarea id="textarea"></textarea>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>
<!-- special  -->
<script src="/s/js/tinymce/tinymce.min.js"></script>
<script>
$(function(){
    $('#inv').click(function(){
        fusion2.dialog.invite({
          msg  : "您的一位好友悄悄地暗恋了你~",
          img : "http://qzonestyle.gtimg.cn/qzonestyle/act/qzone_app_img/app353_353_75.png",
          source : "domain=s4.app12345.qqopenapp.com",
          context : "invite",
          onSuccess : function (opt) { 
            var inviter = opt.inviter;
            var invitees = opt.invitees;
            var size = opt.invitees.length;
            
            
          },
          onCancel : function (opt) { },
          onClose : function (opt) { }
        });
    })
    
    $('#switch').click(function(){
        
    })
    

    tinymce.init({
        selector: "textarea",
        width: 700,
        height: 500,
        language : 'zh_CN',
        menubar : false,
        plugins: [
         "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker imageqq",
         "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
         "save table contextmenu directionality emoticons template paste textcolor"
       ],
       toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link imageqq | print preview media fullpage | forecolor backcolor emoticons", 
     });
});
</script>
</html>
