<!DOCTYPE html>
<html>
<link href="/s/css/font-awesome.css" rel="stylesheet">
    #include( "model_header.vm" )
<style type="text/css">
#editor {
    height: 250px;
    width: 700px;
    background-color: white;
    border-collapse: separate; 
    border: 1px solid rgb(204, 204, 204); 
    padding: 4px; 
    box-sizing: content-box; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset; 
    box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
    border-top-right-radius: 3px; border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; border-top-left-radius: 3px;
    overflow: scroll;
    outline: none;
}
</style>
<body>
    <div class="container-fluid">
		#set( $page = 2 )
        #parse( "model_head.vm" )
		#if($info)
            <div class="alert alert-success">${info}</div>
		#end
        <div class="row">
            <div class="span12">
     <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" title="字体"><i class="icon-font"></i><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a data-edit="fontName Simson" style="font-family:'Simson'">宋体</a></li>
            <li><a data-edit="fontName Simhei" style="font-family:'Simhei'">黑体</a></li>
            <li><a data-edit="fontName 仿宋,仿宋_GB2312" style="font-family:'仿宋,仿宋_GB2312'">仿宋</a></li>
            <li><a data-edit="fontName 楷体,楷体_GB2312" style="font-family:'楷体,楷体_GB2312'">楷体</a></li>
            <li><a data-edit="fontName 隶书" style="font-family:'隶书'">隶书</a></li>
            <li><a data-edit="fontName Microsoft Yahei" style="font-family:'Microsoft Yahei'">雅黑</a></li>
            <li><a data-edit="fontName 幼圆" style="font-family:'幼圆'">幼圆</a></li>
            <li><a data-edit="fontName Arial" style="font-family:'Arial'">Arial</a></li>
          </ul>
        </div>
      <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" title="大小"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a data-edit="fontSize 5"><font size="5">大</font></a></li>
          <li><a data-edit="fontSize 3"><font size="3">中</font></a></li>
          <li><a data-edit="fontSize 1"><font size="1">小</font></a></li>
          </ul>
      </div>
      <div class="btn-group">
        <a class="btn" data-edit="bold" title="加粗"><i class="icon-bold"></i></a>
        <a class="btn" data-edit="italic" title="斜体字"><i class="icon-italic"></i></a>
      </div>
      <div class="btn-group">
        <a class="btn" data-edit="insertunorderedlist" title="列表"><i class="icon-th-list"></i></a>
        <a class="btn" data-edit="insertorderedlist" title="数字列表"><i class="icon-list"></i></a>
        <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
        <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="icon-indent-right"></i></a>
      </div>
      <div class="btn-group">
        <a class="btn" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
        <a class="btn" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
        <a class="btn" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
        <a class="btn" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
      </div>
      <div class="btn-group">
        <a id="qzonepic" class="btn" title="从qq空间选择图片"><i class="icon-picture"></i></a>
      </div>
    </div>
                <div id="editor"></div>
            </div>
        </div>
    </div>
</body>
<!-- special  -->
<script src="/s/js/tinymce/tinymce.min.js"></script>
<script>
$(function(){
    tinymce.init({
        selector: "textarea"
     });
 
    /*var editor = $('#editor').wysiwyg();
    $('#qzonepic').click(function(){
    alert(window.getSelection())
        var range = window.getSelection().getRangeAt(0);
        var selectionContents = range.extractContents();
        
        fusion2.dialog.selectPhoto({
            onSuccess : function (opt) {
                if (opt.data.photos){
                    for (var photo in opt.data.photos){
                        var img = document.createElement("img");
                        img.src = opt.data.photos[photo].pre;
                        img.appendChild(selectionContents);
                        range.insertNode(img);
                    }
                }
            }
        })
    });*/
});
</script>
</html>
