<!DOCTYPE html>
<html>
    #include( "model_header.vm" )
<body>
    <div class="container-fluid">
		#set( $page = 4 )
        #parse( "model_head.vm" )
		#if($info)
            <div class="alert alert-success">${info}</div>
		#end
        <div class="row">
            <div class="span12">
                <form method="POST" class="form-horizontal">
                    <fieldset>
                        <div id="legend" class="">
                            <legend class="">完善信息</legend>
                        </div>
						<div class="control-group">
                            <label class="control-label"><em style="color:red;">* </em>昵称</label>
                            <div class="controls">
								<input type="text" id="nickname" name="nickname" placeholder="昵称" value="$!{user.nickname}">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><em style="color:red;">* </em>头像</label>
                            <div class="controls">
                                <div class="span2" style="width:110px">
                                    <a id="figurePic" href="javascript:" class="thumbnail">
                                        <img src="$!{user.figureurl}"></a>
</div>
<input type="hidden" id="figureurl" name="figureurl" value="$!{user.figureurl}"/>
                            </div>
                        </div>
                            <div class="control-group">
                                <label class="control-label"><em style="color:red;">* </em></label>
                                <div class="controls">
                                    <!-- Inline Radios -->
                                    <label class="radio inline">
                                        <input type="radio" value="0" name="gender" #if($user.gender==0) checked="checked" #end />
                                            帅哥
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" value="1" name="gender" #if($user.gender==1) checked="checked" #end />
                                            美女
                                    </label>
                                </div>
                            </div>
                            <div class="control-group">
                                <!-- Select Basic -->
                                <label class="control-label"><em style="color:red;">* </em>所在地</label>
                                <div class="controls controls-row">
                                    <select id='prov' name="prov" class="span2" style="width:90px" >
                                    </select>
                                    <select id='city' name="city" class="span2" style="width:90px" >
                                    </select>
                                    <select id='town' name="town" class="span2" style="width:90px" >
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <!-- Select Basic -->
                                <label class="control-label"><em style="color:red;">* </em>生日</label>
                                <div class="controls controls-row">
                                    <select id='birth_y' name='birth_y' class="span2" style="width:90px">
                                        <option value='0' selected>年</option>
                                        #foreach( $foo in [1970..2010] )<option value='${foo}' #if($user.birthY == $foo) selected #end>${foo}年</option>
                                        #end
                                    </select>
                                    <select id='birth_m' name='birth_m' class="span2"  style="width:90px" >
                                        <option value='0' selected>月</option>
                                        #foreach( $foo in [1..12] )<option value='${foo}' #if($user.birthMd/100 == $foo) selected #end>${foo}月</option>
                                        #end
                                    </select>
                                    <select id='birth_d' name='birth_d' class="span2"  style="width:90px" >
                                        <option value='0' selected>日</option>
                                        #foreach( $foo in [1..31] )<option value='${foo}' #if($user.birthMd%100 == $foo) selected #end>${foo}日</option>
                                        #end
                                    </select>
                                </div>
                            </div>
							<div class="control-group">
                                <!-- Select Basic -->
                                <label class="control-label"><em style="color:red;">* </em>身高</label>
                                <div class="controls controls-row">
                                    <select id='height' name="height" class="span2" >
										<option value='0' #if($user.earning == 0 ) selected #end>请选择</option>
										#foreach( $foo in [150..200] )<option value='${foo}' #if($user.height == $foo) selected #end>${foo}</option>
                                        #end
                                    </select>
                                </div>
                            </div>
							<div class="control-group">
                                <!-- Select Basic -->
                                <label class="control-label"><em style="color:red;">* </em>学历</label>
                                <div class="controls controls-row">
                                    <select id='education' name="education" class="span2" >
										<option value='0' #if($user.education == 0 ) selected #end>请选择</option>
										<option value='1' #if($user.education == 1 ) selected #end>本科以下</option>
										<option value='2' #if($user.education == 2 ) selected #end>本科</option>
										<option value='3' #if($user.education == 3 ) selected #end>硕士</option>
										<option value='4' #if($user.education == 4 ) selected #end>博士</option>
                                    </select>
                                </div>
                            </div>
							<div class="control-group">
                                <!-- Select Basic -->
                                <label class="control-label"><em style="color:red;">* </em>血型</label>
                                <div class="controls controls-row">
                                    <select id='blood_group' name="blood_group" class="span2" >
										<option value='0' #if($user.bloodGroup == 0 ) selected #end>请选择</option>
										<option value='1' #if($user.bloodGroup == 1 ) selected #end>A</option>
										<option value='2' #if($user.bloodGroup == 2 ) selected #end>B</option>
										<option value='3' #if($user.bloodGroup == 3 ) selected #end>AB</option>
										<option value='4' #if($user.bloodGroup == 4 ) selected #end>O</option>
										<option value='5' #if($user.bloodGroup == 5 ) selected #end>其他</option>
                                    </select>
                                </div>
                            </div>
							<div class="control-group">
                                <!-- Select Basic -->
                                <label class="control-label"><em style="color:red;">* </em>收入</label>
                                <div class="controls controls-row">
                                    <select id='earning' name="earning" class="span2" >
										<option value='0' #if($user.earning == 0 ) selected #end>请选择</option>
										<option value='1' #if($user.earning == 1 ) selected #end>无</option>
										#foreach( $foo in [1..50] )<option value='${foo}' #if($user.earning == $foo) selected #end>#set( $bar = $foo * 1000 )$!{bar}-#set( $bar = ($foo + 1) * 1000 )${bar}</option>
                                        #end
										<option value='51' #if($user.earning == 51 ) selected #end>50000以上</option>
                                    </select>
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label"><em style="color:red;">* </em>第一印象</label>
                                <div class="controls">
                                  <textarea id="introduce" placeholder="简单描述下自己吧" name="introduce" rows="3" value="$!{user.introduce}"></textarea>
                                </div>
                            </div>
							<div class="control-group">
                                <label class="control-label"></label>
                                <div class="controls">
                                  <button id="submitBtn" type="submit" class="btn btn-primary" data-loading-text="提交...">提交</button>
                                </div>
                            </div>
</fieldset>
</form>
                </div>
            </div>
        </div>
</body>
<!-- special  -->
<script src="/s/js/util.js"></script>
<script>
    $(function(){
    city_picker = util.cityPicker({p_select:$('#prov'),c_select: $('#city'),t_select: $('#town'), p_init:${idarr[0]},c_init:${idarr[1]},t_init:${idarr[2]}});
    date_picker = util.datePicker({y_select:$('#birth_y'),m_select: $('#birth_m'),d_select: $('#birth_d'), y_init:$!{user.birthY},m_init:#set( $foo = $user.birthMd / 100 )$!{foo},d_init:#set( $foo = $user.birthMd % 100 )$!{foo}});
	
	// selectphoto from 
	$('#figurePic').click(function(){
	fusion2.dialog.uploadPortrait
        ({
            context : "reactive_12345", 
            onSuccess : function (opt) 
             { $('#figureUrl').val(opt['100']); }, 
            onCancel : function (opt) 
            {}, 
            onClose : function (opt) 
            {}
         });
	});
	
	// form associated
	$('#submitBtn').click(function(){
		//$(this).attr('disabled','disabled');
		// do check
		var checkret = true;
		if ($('#town').val() == 0){
			$('#town').tooltip({title:'现所在地没选哦~',trigger:'manual',placement:'right'}).tooltip('show').change(function(){$(this).tooltip('hide');});
			checkret = false;
		}
		if ($('#birth_d').val() == 0){
			$('#birth_d').tooltip({title:'生日没选哦~',trigger:'manual',placement:'right'}).tooltip('show').change(function(){$(this).tooltip('hide');});
			checkret = false;
		}
		if ($('#introduce').val() == 0){
			$('#introduce').tooltip({title:'请填写描述，给别人个第一印象哈~',trigger:'manual',placement:'right'}).tooltip('show').change(function(){$(this).tooltip('hide');});
			checkret = false;
		}
		if ($('#height').val() < 100){
			$('#height').tooltip({title:'身高没选哦~',trigger:'manual',placement:'right'}).tooltip('show').change(function(){$(this).tooltip('hide');});
			checkret = false;
		}
		if ($('#education').val() == 0){
			$('#education').tooltip({title:'学历没选哦~',trigger:'manual',placement:'right'}).tooltip('show').change(function(){$(this).tooltip('hide');});
			checkret = false;
		}
		if ($('#blood_group').val() == 0){
			$('#blood_group').tooltip({title:'血型没选哦~',trigger:'manual',placement:'right'}).tooltip('show').change(function(){$(this).tooltip('hide');});
			checkret = false;
		}
		if ($('#earning').val() == 0){
			$('#earning').tooltip({title:'收入没选哦~',trigger:'manual',placement:'right'}).tooltip('show').change(function(){$(this).tooltip('hide');});
			checkret = false;
		}
		if (!checkret)
			return false;
	});
		
    });
</script>
</html>
