#define( $link )
    #if($blk.type == 0)
        <a #if($blk.isBold == true) style="font-weight:bold;"#end href="${blk.url}">${blk.title}</a>
    #elseif($blk.type == 1)
        <a href="${blk.url}"><img src="${blk.img}"/></a>
    #elseif($blk.type == 2)
        <a #if($blk.isBold == true) style="font-weight:bold;"#end href="view?id=$!{blk.newsId}">${blk.title}</a>
    #elseif($blk.type == 3)
        <a href="view?id=$!{blk.newsId}"><img src="${blk.img}"/></a>
    #elseif($blk.type == 4)
        ${blk.html}
    #end
#end
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
<meta name="keywords"
			content="战国军事网,国际军事,中国军事,军事视角,图说军事,社会趣闻,美女爱秀" />
		<meta name="description" content="正文页" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta name="viewport"
			content="width=device-width, minimum-scale=1.0, maximum-scale=2.0" />
		<title>$!{pindao.title}</title>
		<link rel="stylesheet" href="/s/css/style.css" type="text/css" />
</head>
	<body>
<div class="main">
			<div>
	</div>
<div class="loginline">
	<a href="nav.html" style="font-weight:bold;float:left;">导航</a>
</div>
<div style="clear:both;">
</div>
<!--
			导航条
			-->
			<div class="nav">
				<a href="/">战国军事网</a>&gt;
				<a href="pd?id=$!{pindao.id}">$!{pindao.name}</a>&gt;
				<a href="lm?id=$!{lanmu.id}">$!{lanmu.name}</a>
			</div>
			<!--
			动态广告位碎片      正文页-广告位-页头 123
			-->

			<div>
				<div class="block">
        #set($blk = $blocks[9][0])
		<p>$link</p>
		</div>

</div>
			<!--
			正文
			-->
			<div>
				<p class="newstitle">
					$!{news.title}</p>
				<p class="newstime">
                    #set($millsecond = $news.sendTime * 1000)
					#set($s = $date.format("MM-dd HH:mm",$millsecond))
					$!{s}
					来源:$!{news.source}</p>
				<div class="newscont">
					$!{news.content}</div>
				#if($total > 1 && $r != 2)
				<p style="text-align: center;">
					#if($page < $total)<a href="view?id=$!{news.id}&page=$!{page}&r=2">余下全文</a>#end
					第 <font color='red'>$page</font>/$total 页 
					#set($v = $page - 1)
					#if($page > 1)<a href="/view?id=$!{news.id}&page=$v"> 上一页 </a>#end 
					#foreach($p in [1..$total])<a href="view?id=$!{news.id}&page=$p">$p.</a>#end
					#set($v = $page + 1)
					#if($page < $total) <a href="/view?id=$!{news.id}&page=$v">下一页</a>#end
				<p>
				#end
					
					<!-- <a
						href="http://go.10086.cn/ishare.do?m=t&u=http://wap.huanqiu.com/view.html?id=525597&t=世界看到“自信强大”的中国&sid=414917446121"><img
							src="wap/img/button_medium.png" /> </a> -->
<div class="bshare-custom icon-medium">分享：<a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a><a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a><a title="分享到网易微博" class="bshare-neteasemb"></a><a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a><span class="BSHARE_COUNT bshare-share-count">0</span></div><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
				</p>
			</div> 
			<!--
			动态广告位碎片      正文页-广告位-文末121
			-->

			<div>
				<div class="block">
	<p>
		#set($blk = $blocks[10][0])
		$link
</p>
		</div>

</div>

			<!--
				评论
			-->
			<div  class="biaoqing" > 
					<ul>
						<li> 
								<a href="javascript:toupiao('lv1',${news.id},'喜',$!{news.cmtNumLv1});" >
									<img src="/s/img/biaoqing1.jpg" /> 
									<span id="lv1">喜&nbsp;($!{news.cmtNumLv1})</span> </a>
							</li>
						<li> 
								<a href="javascript:toupiao('lv2',${news.id},'怒',$!{news.cmtNumLv2});" >
									<img src="/s/img/biaoqing2.jpg" /> 
									<span id="lv2">怒&nbsp;($!{news.cmtNumLv2})</span> </a>
							</li>
						<li> 
								<a href="javascript:toupiao('lv3',${news.id},'哀',$!{news.cmtNumLv3});" >
									<img src="/s/img/biaoqing3.jpg" /> 
									<span id="lv3">哀&nbsp;(${news.cmtNumLv4})</span> </a>
							</li>
						<li> 
								<a href="javascript:toupiao('lv4',${news.id},'怨',$!{news.cmtNumLv4});" >
									<img src="/s/img/biaoqing4.jpg" /> 
									<span id="lv4">怨&nbsp;(${news.cmtNumLv4})</span> </a>
							</li>
						</ul>
				</div>
				<script>
	
var toupiaoflag=false;	
function toupiao(eid,id,con,count)
{

if(toupiaoflag==true)
{
	alert("您已经投票，请误重复投票");
	return;
}

try
{
// Firefox,Opera 8.0+,Safari
var xmlHttp =new XMLHttpRequest();
}
catch (e)
{
// Internet Explorer
try
{
xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
}
catch (e)
{
try
{
xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
}
catch (e)
{
alert("您的浏览器不支持AJAX！");
return false;
}
}
}
xmlHttp.onreadystatechange=function()
{
if(xmlHttp.readyState==4)  
{  
toupiaoflag=true;
 document.getElementById(eid).innerHTML=con + "("+(count+1)+")";
 
}    
}    
xmlHttp.open("GET","/vote?nid="+id+"&cmt_num="+eid+"&t="+Math.random(),true); 
xmlHttp.send(null);
}  
	
	
	
	function funkuaisu() {
		document.getElementById("kuaisu").style.display = "none";
		document.getElementById("xiala").style.display = "block";

		document.getElementById("pinglu").style.display = "block";
		document.getElementById("wenben").style.display = "none";
	}

	function funpinglun() {
		document.getElementById("kuaisu").style.display = "block";
		document.getElementById("xiala").style.display = "none";

		document.getElementById("pinglu").style.display = "none";
		document.getElementById("wenben").style.display = "block";
	}
	function commonsubmit() {
		var neirong = "";
		if (document.getElementById("xiala").style.display == "block") {
			neirong = document.getElementById("xiala").value;
			document.getElementById("ctype").value="ks";
		} else {
			neirong = document.getElementById("wenben").value;
			document.getElementById("ctype").value="";
		}
		document.getElementById("cont").value = neirong;
		document.getElementById("commentForm").submit();
	}
</script>
#if($news.showComment == 0)
				<div class="search"  >
					<form action="/comment/submit" id="commentForm" method="post">
						<p>
<div style="float:left">
<input type="hidden" id="ctype" name="ctype" value="" />
							<input type="hidden" name="nid" value="$!{news.id}" />
							<input type="text" name="content" id="cont" value=""
								style="display: none" />
							<input type="text" value="" style="height: 50px; " class="searchKey" id="wenben" />
							<select class="searchKey" id="xiala" style="display: none;height: 50px;">
								<option value="给个赞">
										给个赞</option>
								<option value="我和我的小伙伴们都惊呆了">
										我和我的小伙伴们都惊呆了</option>
								<option value="高端大气上档次">
										高端大气上档次</option>
								<option value="低调奢华有内涵">
										低调奢华有内涵</option>
								<option value="土豪，我们做朋友吧">
										土豪，我们做朋友吧</option>
								<option value="节操满地">
										节操满地</option>
								<option value="喜大普奔">
										喜大普奔</option>
								<option value="人艰不拆">
										人艰不拆</option>
								<option value="累觉不爱">
										累觉不爱</option>
								<option value="不明觉厉">
										不明觉厉</option>
								</select>
</div>
<div style="float:right">
							<input type="button" value="发言(70字)" class="searchBtn"
								onclick="commonsubmit()" /><br /> 
							<input type="button" id="kuaisu" value="快速发言" class="searchBtn"
								onclick="funkuaisu()" />
							<input type="button" id="pinglu" value="我要评论" class="searchBtn"
								onclick="funpinglun()"  style=" display: none" />
</div>
<div style="clear:both"></div>
						</p>
					</form>
				</div>
<div class="lanmu-line">
					<a href="#">[网友评论]</a>
				</div>
				<div style="padding: 5px;">
					#foreach($comment in $comments)
						<p><a href="replypage?rid=$!{comment.id}&nid=$!{news.id}">[回复]</a>
    					$!{comment.floor}楼 : #if($comment.auditStatus == 0)$!{comment.content}#else该楼已删除#end
                        #set($millsecond = $comment.createTime * 1000)
						#set($s = $date.format("MM-dd HH:mm",$millsecond))[$!{s} ] 
							$!{$comment.device}</p>
						#foreach($refid in $refIds[$foreach.index])
							#set($cc = $refComments[$refid])
							<div style="border:1px solid #AEAEF3;background:#eee;margin:5px;" ><p>$!{cc.floor} 楼: #if($cc.auditStatus == 0)$!{cc.content}#else该楼已删除#end</p> 
						#end
						#foreach($refid in $refIds[$foreach.index])</div>#end
					#end
				</div>
				<div>
					<p>
						<a href="comments?nid=$!{news.id}">&gt;&gt;全部评论</a>
					</p>
				</div>
#end
 
			<!--
			动态广告位碎片      正文页-广告位-评论下方 122
			-->

			<div>
				<div class="block">
	<p>
		
		#set($blk = $blocks[11][0])
		$link</p>
		<p>
		#set($blk = $blocks[11][1])
		$link</p>
		</div>

</div>


			<!--<div style="clear: both;">
				<p>
							<a href="view.html?id=525580">上一条：外媒猜测金正恩牢牢掌控局势</a>
						</p>
					<p>
							<a href="view.html?id=525598">下一条：俄2013年因腐败损失近40亿元</a>
						</p>
					</div>-->
			<!--
			动态广告位碎片      正文页-广告位-相关新闻上方 120
			-->

			<div>
				<div class="block">
	</div>

</div>
			<!--
			导航条
			-->
			<div class="nav" style="margin-bottom: 10px;">
				<a href="/">XXX网</a>&gt;
				<a href="pd?id=$!{pindao.id}">$!{pindao.name}</a>&gt;
				<a href="lm?id=$!{lanmu.id}">$!{lanmu.name}</a>
			</div>
			<div class="lanmu-line">
				<img src="/s/img/r.png" />
				<a href="#">[最新消息]</a>
			</div>
			<div class="block">
				#foreach($n in $newestNews)
				<p>
						<a href="view.html?id=$!{n.id}">$!{n.shortTitle}</a>
					</p>
				#end
				</div>

			<!--
			动态广告位碎片      正文页-广告位-相关新闻 117
			-->

			<div>
				<div class="block">
	<p>#set($blk = $blocks[12][0])
        $link</p>
		</div>
</div>
          <div class="lanmu-line">
				<img src="/s/img/r.png" />
				<a href="#">[点击排行]</a>
			</div>
			<div class="block">
#foreach($n in $hot)
<p>
    <a href="view.html?id=$!{n.id}">$!{n.shortTitle}</a>
</p>
#end
				</div>

			<!--
			动态广告位碎片      正文页-广告位-点击排行 118
			-->

			<div>
				<div class="block">
	<p>#set($blk = $blocks[13][0])
        $link</p>
		</div>

</div>



			<div class="lanmu-line">
				<img src="/s/img/r.png" />
				<a href="#">[今日精选]</a>
			</div>

			<!--
			动态广告位碎片      正文页--频道精选---新闻 119
			-->

			<div>
				<div class="block">
	#foreach( $blk in $blocks[14])
        <p>
            $link
        </p>
    #end
		</div>

</div>
<div class="nav">
#parse("frag/menu.vm")
</div>
#include( "frag/foot.htm" ) 
</div>
	</body>
</html>
